@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family = Mukta: wght @ 500 & display = swap');

#fundo{
    background-color: #363636;
}
#fotoAvatar{
    width: 300px;
    border-radius: 10px;
    display: block;
    margin: 80px auto 10px auto;
}
.nomeSobrenome{
    color:white;
    text-align: center;
    font-size: 14px;
    font-family:'Mukta', sans-serif;
}
.profissao{
    text-align: center;
    color:white;
    font-size: 12px;
    font-family:'Mukta', sans-serif;
    margin: 10px 10px 20px 10px;
}
.cxPai{
    display: flex;
    margin: auto;
    width: fit-content;
}
.btn{
    border-radius: 20px;
    margin: 20px 20px 10px;
    width: 200px;
    height: 82px;
    background-color:rgb(79,79,79);
    line-height: 90px;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 1s;
}
.btn:hover{
    background-color: #606060;
}
.fotoRede{
    float: left;
    padding: 10px;
    width: 60px;
}
.textoRedes{
    font-family:'Mukta', sans-serif;
}
.linhaHori1{
    width: 280px;
    margin-top: 20px;
}
.linhaHori2{
    width: 200px;
    margin-bottom: 50px;
}
@media screen and (max-width:800px){
    .cxPai {
        display: flow-root;
        margin: auto;
        width: fit-content;
    }
}